/*

Add styles or override variables from the theme here.

*/


/*

@import "../../themes/docsy/assets/vendor/bootstrap/scss/mixins/_breakpoints.scss";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/_functions.scss";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/_variables.scss";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/mixins/grid.scss";

*/


.td-box {
    padding-right: 20% !important;
    padding-left: 20% !important;
	
    /*@include make-container-max-widths();*/
}

