+++
title = "Squidr"
linkTitle = "Squidr"

+++

{{< blocks/cover title="Welcome to Squidr" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/nexs-metabolomics/dash-in-core">
		Go to the KU Squidr  <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Making research searchable</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Squidr organizes your research data in an structure manner to make them truely FAIR.</br>
You keep full control of access to your data and we are compliant with GDPR data safely rules.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
Now with new and improved GUI!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://gitlab.com/nexs-metabolomics/dash-in-core" %}}
We do a [Pull Request](https://github.com/gohugoio/hugo/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


